<link rel="stylesheet" href="/css/header.css" />
<nav class="nav">
  <p href="/" class="icon">
    <img
      src="https://cdn-icons-png.flaticon.com/512/2631/2631389.png"
      alt="Logo"
      width="35"
      height="35"
      class="d-inline-block align-text-top"
    />
    <span class="text-center fw-semibold">Employee Review System</span>
  </p>

  <%if(locals.user) {%>
  <div class="opts">
    <a href="/<%=locals.user.role%>">
      <i class="fa fa-home"></i>
      Home
    </a>

    <%if(locals.user.role==="admin") {%>
    <a href="/admin/addUserPage">
      <i class="fa fa-add"></i>
      Add user
    </a>
    <%} else {%>
    <a href="/employee/review">
      <i class="fa fa-comments"></i>
      Assigned Reviews
    </a>
    <%}%>
    <p class="username"><%=locals.user.name%></p>

    <a class="logout" href="/logout"> <i class="fa fa-sign-out"></i> Logout</a>
  </div>
  <%}%>
</nav>
